
<style>
  body {font-family: Arial, Helvetica, sans-serif;}

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #modalMsg{
    padding:20px;
  }

  #modalFooter{
    text-align:right;
    margin-top:20px;
  }
</style>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <h1 id="modalTitle"></h1>
    <hr>
    <div id="modalMsg"></div>
    <hr>
    <div id="modalFooter"></div>
  </div>

</div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");


  function showModal(title,msg,footer) {
    document.getElementById("modalTitle").innerHTML=title;
    document.getElementById("modalMsg").innerHTML=msg;
    document.getElementById("modalFooter").innerHTML=footer;
    modal.style.display = "block";
  }

  function hideModal() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      hideModal();
    }
  }

  document.addEventListener('keydown', function(e) {
    if (e.key === "Escape") {
      hideModal();
    }
  });

</script>
