<style>

  .speech-bubble-right {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
    padding: 10px;
  }

  .speech-bubble-right:after {
    content: '';
    position: absolute;
    right: 0;
    top: 60%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #00aabb;
    border-right: 0;
    margin-top: -20px;
    margin-right: -20px;
  }

  .speech-bubble-left {
    position: relative;
    background: #ba00bd;
    border-radius: .4em;
    padding: 10px;
  }

  .speech-bubble-left:after {
    content: '';
    position: absolute;
    left: 0;
    top: 60%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #ba00bd;
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
  }
</style>
<div class="flex">
  <div class="speech-bubble-right">This is some text that isThis is some text that is a thing I doand there is more foThis is some text that is a thing I doand there is more foThis is some text that is a thing I doand there is more fo a thing I doand there is more for it to try </div>
</div>
<div class="flex">
  <div class="speech-bubble-left">This is some text that isThis is some text that is a thing I doand there is more foThis is some text that is a thing I doand there is more foThis is some text that is a thing I doand there is more fo a thing I doand there is more for it to try </div>
</div>

