<link rel="stylesheet" type="text/css" href="css/checkbox.css">

<div class="[ form-group ]">
  <input type="checkbox" name="This is my test" id="checkbox-primary" autocomplete="off" />
  <div class="[ btn-group ]">
    <label for="checkbox-primary" class="[ btn btn-primary ]">
      <span class="[ glyphicon glyphicon-ok ]"></span>
      <span> </span>
    </label>
    <label for="checkbox-primary" class="[ btn btn-default active ]">
      Primary Checkbox
    </label>
  </div>
</div>
