<link rel="stylesheet" type="text/css" href="css/dropdown.css">
<div class="dropdown">
  <button id="dropbtn" class="dropbtn">User</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <a class="dropitem" href="#" onclick="itemSelect(this)">About</a>
    <a class="dropitem" href="#" onclick="itemSelect(this)">Base</a>
    <a class="dropitem" href="#" onclick="itemSelect(this)">Blog</a>
    <a class="dropitem" href="#" onclick="itemSelect(this)">Contact</a>
    <a class="dropitem" href="#" onclick="itemSelect(this)">Custom</a>
    <a class="dropitem" href="#" onclick="itemSelect(this)">Support</a>
    <a class="dropitem" href="#" onclick="itemSelect(this)">Tools</a>
  </div>
</div>

<!--put this in form to be submitted-->
<input type="text" id="item" name="item" value="" readonly>

$("#dropbtn").click(function(){
  $("#myDropdown").toggle();
});

function itemSelect(e){
  $("#myDropdown").toggle();
  $("#item").val(e.innerHTML);
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
